<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop-VUE</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/favicon.png" type="image/png">
</head>
<body>
<div id="root">
    <header>
        <div class="cart">
            <form action="#" method="post" class="search-form" @submit.prevent="filterGoods">
                <label>
                    <input type="text" class="search-field"  v-model="inputSearch">
                    <input type="submit" value="">
                </label>
            </form>
            <!--@click="animationInOut = true"-->
            <!--@click="animationInOut = true"-->
            <button @click="cartVisibilityHandler" id="openCart" class="btn btnCart">Open Cart (<b class="counter">0</b>)</button>
            <div v-show="showCart" id="cartBody" class="modalWindow" :class="{'swing-out-top-bck': animation, 'swing-in-top-fwd': !animation}">
                <div id="cartContent" class="cartMain">
                    <div class="cart-item" v-for="item of cartItems" :key="item.product_id">
                        <div class="product-bio">
                            <img :src="imgCart" class="cartItemImage" alt="product image">
                            <div class="product-desc">
                                <h3 class="product-name">{{item.product_name}}</h3>
                                <p class="product-quantity">Quantity: {{item.quantity}}</p>
                                <p class="product-price">{{item.price}} &curren; each</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-total-price">{{item.quantity * item.price}}</p>
                            <button class="removeFromCart" @click="remove(item)">&#128465;</button>
                        </div>
                    </div>
                </div>
                <p class="message" v-if="cartItems.length === 0">Cart is empty</p>
                <div class="cartFooter">
                    <button id="clearCart" class="btn btnClear">clear all</button>
                    <button @click="cartVisibilityHandler" id="closeCart" class="btn btnClose">close</button>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.product_id">
                <img :src="imgCatalog" :alt="product.product_name">
                <div class="desc">
                    <h3>{{ product.product_name }}</h3>
                    <p>{{ product.price }}</p>
                    <button class=" btn buy-btn" @click="addProduct(product)">add to cart</button>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/main.js"></script>
</body>
</html>
